@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff7613;
    --text-color:#727171;
}
html {
    font-size:10px;
}
body{
    font-family: 'Tinos', sans-serif;
    color:white;
    background-color: black;

}
.image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}

a{
    text-decoration: none;
    color:white;
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_pretitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;

}
.item_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.container{
    max-width: 1000px;
    width:90%;
    margin: 0 auto;
    display: grid;
    margin-top: 4rem;
    background-color: #070707;
    grid-template-columns: 1fr 1fr;
    gap:4rem;
}
.discription{
    margin-top: 1rem;
    font-size:1.5rem;
    font-weight:400;
    color:var(--text-color)
}
@media only screen and (min-width: 768px){
    .container{
        width:100%;
        grid-template-columns: 1fr;
        padding:3rem;
        gap:7rem;

    } 
}
.profile{
    grid-column:1/-1;
    margin-bottom:2rem;
}
.group1{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.group2{
    display: flex;
    flex-direction: column;
}


.profile_container{
    display:flex;
    gap:2rem;

}

.profile_image{
    max-width:200px;
}
.first_name{
    color:white;
    font-weight:200;
    font-size:clamp(2rem , 8vw, 3rem);
    text-transform:uppercase;
    display:block;
    margin-bottom:-0.8rem;
}

.last_name{
    color:var(--primary-color);
    font-weight:70;
    font-size:clamp(2.5rem , 15vw, 7rem);
    text-transform:uppercase;
    display:block;
}
.profile_title{
    font-weight:400;
    font-size:1.5rem;
    text-transform:uppercase;
}
.downloadbtn{
    display:block;
    text-decoration:underline;
    font-size:1.6rem;
    margin-top:2rem;
}
.downloadbtn:hover{
    color:var(--primary-color);
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction:column;
    }
}

.skills_list{
    margin-top:1rem;
   margin-left: 2rem;
   line-height: 2;

}

.ref_item{
    margin-top: 2rem;
}
.ref_name{
    font-weight:700;
    font-size:1.6rem;
}

.edu_item{
    margin-top: 2rem;
}
.certification_item{
    margin-top: 2rem;
}
.interest{
    margin-top: 2rem;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 7rem;
}

.interest_item{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
}

.interest_items {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}